@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomVariable</title>
</head>
<body>
    <div>Контроллер: @ViewBag.Controller</div>
    <div>Действие: @ViewBag.Action</div>
    <div>Пользовательская сегментная переменая: @ViewBag.CustomVariable</div>
</body>
</html>
