@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>Контроллер: @ViewBag.Controller</div>
    <div>Действие: @ViewBag.Action</div>
</body>
</html>


